body {
font-family: sans-serif;
font-style: Italic;
color: green;
letter-spacing: 0.1em;
font-size: 120%;
text-align: center;
}
h1 {
font-family: sans-serif;
font-style: Italic;
color: black;
letter-spacing: 0.1em;
font-size: 150%;
}
p {
font-family: sans-serif;
font-style: Italic;
color: black;
letter-spacing: 0.1em;
font-size: 100%;
}
.status{
color: white;
}
.button-container {

  position: absolute;
  bottom: 10;
  left: 10%;
}
.Lbutton-container {
  position: absolute;
  bottom: 10;
  left: 10%;
  border: 1px solid #ccc;
  background-color: blue;
  font-size:20px;
}
.Rbutton-container {

  position: absolute;
  bottom: 10;
  left: 50%;
  border: 1px solid #ccc;
  background-color: blue;
  font-size:20px;
}